@media screen and (max-width: 1316px){
    .collection1{
        margin-left: 170px;
    }
    .item2{
        display: none;
    }
}
@media screen and (max-width: 1268px){
    .collection1{
        margin-left: 190px;
    }
}
@media screen and (max-width: 1234px){
    .collection1{
        margin-left: 150px;
    }
}
@media screen and (max-width: 1194px){
    .collection1{
        margin-left: 100px;
    }
}
@media screen and (max-width: 1160px){
    .collection1{
        margin-left: 100px;
    }
    .banner6{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 1140px){
    .collection1{
        margin-left: 200px;
    }
    .item2{
        display: none;
    }
    .collection2{
        margin-left: 2%;
    }
    .banner5{
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }
}
@media screen and (max-width: 1032px){
    .collection1{
        margin-left: 120px;
    }
    .collection2{
        margin-left: 1%;
    }
}
@media screen and (max-width: 1020px){
    .collection1{
        margin-left: 80px;
    }
    .collection2{
        margin-left: 0;
    }
    .container3{
        margin-left: 5%;
    }
    .item4:nth-child(5){
        display: none;
    }
}
@media screen and (max-width: 950px){
    .collection1{
        margin-left: 70px;
    }
}
@media screen and (max-width: 888px){
    .collection1{
        display: none;
    }
    .fa-bars{
        display: block;
    }
    .smth{
        display: block;
    }
    .item4{
        margin-left: 80px;
    }
    .container3{
        margin-left: 60px;
    }
}
@media screen and (max-width: 874px){
    .collection1{
        display: none;
    }
    .fa-bars{
        display: block;
    }
    .smth{
        display: block;
    }
    .collection12{
        margin-left: 570px;
    }
    .item4{
        margin-left: 80px;
    }
    .container3{
        margin-left: 60px;
    }
}

@media screen and (max-width: 842px){
    .collection1{
        display: none;
    }
    .item4{
        margin-left: 67px;
    }
    .banner3{
        grid-template-columns: 1fr 1fr;
        padding: 3% 2%;
    }
    .icons_banner{
        height: 100%;
    }
}
@media screen and (max-width: 842px){
    .collection2{
        display: none;
    }
}
@media screen and (max-width: 808px){
    .collection2{
        display: none;
    }
    .collection12{
        margin-left: 500px;
    }
    .banner5{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 726px){
    .collection2{
        display: none;
    }
    .collection12{
        margin-left: 400px;
    }
}
@media screen and (max-width: 626px){
    .collection2{
        display: none;
    }
    .collection12{
        margin-left: 350px;
    }
}
@media screen and (max-width: 574px){
    .collection2{
        display: none;
    }
    .collection12{
        margin-left: 250px;
    }
    .the{
        display: none;
    }
    .go{
        text-align: center;
    }
    .thats{
        text-align: center;
    }
    .visit{
        margin-left: 90px;
    }
    .banner3{
        grid-template-columns: 1fr;
        padding: 0 2%;
    }
    .icons_banner{
        height: 100%;
        margin-top: 60px;
    }
}
@media screen and (max-width: 536px){
    .peak{
        font-size: 7vw;
    }
}
@media screen and (max-width: 480px){
    .peak{
        font-size: 9vw;
    }
    .collection12{
        margin-left: 200px;
    }
}
@media screen and (max-width: 480px){
    .peak{
        font-size: 9vw;
    }
    .collection12{
        margin-left: 220px;
    }
}

@media screen and (max-width: 425px){
    .our{
        text-align: center;
    }
    .visit{
        margin-left: 35px;
    }
}
@media screen and (max-width: 412px){
    .our{
        text-align: center;
    }
    .visit{
        margin-left: 45px;
    }
    .thrill{
        margin-top: -50px;
    }
    .collection12{
        margin-left: 170px;
    }
}
@media screen and (max-width: 396px){
    .our{
        text-align: center;
    }
    .visit{
        margin-left: 30px;
    }
    .collection12{
        margin-left: 120px;
    }
    .ride{
        margin-top: -40px;
    }
}
@media screen and (max-width: 340px){
    .our{
        text-align: center;
    }
    .visit{
        margin-left: 30px;
    }
    .collection12{
        margin-left: 100px;
    }
    .ride{
        margin-top: -50px;
    }
}
@media screen and (max-width: 326px){
    .our{
        text-align: center;
    }
    .visit{
        margin-left: 30px;
    }
    .collection12{
        margin-left: 100px;
    }
    .ride{
        margin-top: -50px;
    }
    .ready{
        margin: 10px 10px;
    }
}
@media screen and (max-width: 315px){
    .our{
        text-align: center;
    }
    .visit{
        margin-left: 30px;
    }
    .collection12{
        margin-left: 80px;
    }
    .container3{
        margin-left: 4%;
    }
}
@media screen and (max-width: 315px){
    .our{
        text-align: center;
    }
    .visit{
        margin-left: 14px;
    }
    .collection12{
        margin-left: 40px;
    }
    .container3{
        margin-left: 4%;
    }
    .peak{
        font-size: 12vw;
    }
    .say{
        font-size: 7vw;
    }
}
@media screen and (max-width: 274px){
    .our{
        text-align: center;
    }
    .visit{
        margin-left: 14px;
    }
    .collection12{
        margin-left: 40px;
    }
    .container3{
        margin-left: 1%;
    }
    .peak{
        font-size: 12vw;
    }
    .say{
        font-size: 7vw;
    }
}
@media screen and (max-width: 260px){
    .our{
        text-align: center;
    }
    .visit{
        margin-left: 14px;
    }
    .collection12{
        margin-left: 40px;
    }
    .container3{
        margin-left: 0;
    }
    .peak{
        font-size: 12vw;
    }
    .say{
        font-size: 7vw;
    }
}


